body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h3,
h4,
p {
    margin: 0;
}


.container {
    width: 1100px;
    margin: 0 auto;
    display: flex;


}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


.container__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper__content {
    flex: 1;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: #4b73b5;
    padding: 18px 0;
    display: flex;

}

.content {
    margin-top: 45px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.header__contacts {
    text-align: right;
    font-size: 20px;
    float: right;
}


.header__phone {
    display: block;
    color: #fff;
    text-align: right;
}


.header__shedule {
    color: #fff;
}

.contacts__desc {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.maincontent {
    display: inline-block;
    width: 83%;

}


.breadcrumbs__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.breadcrumbs {
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}

.breadcrumbs__item {
    display: inline-block;
    vertical-align: middle;
}

.breadcrumbs__item:before {
    content: "/";
    display: inline-block;
    vertical-align: middle;
}

.breadcrumbs__item:first-child:before {
    display: none;
}

.breadcrumbs__separator {
    display: inline-block;
}


.breadcrumbs__link {
    font-weight: 300;
    font-style: italic;
    color: #1c5bc3;
    opacity: 0.8;
    text-decoration: underline;
    line-height: 1.286;
}

.breadcrumbs__link_active {
    color: #221f1f;
    opacity: 0.8;
    text-decoration: none;
}

.nav__list {
    list-style-type: none;
}

.nav__text {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}



.aside {
    display: block;
    font-size: 12px;
    width: 17%;
    margin: 0;
}

.maincontent__img {
    padding-top: 24px;
}



.nav__item {
    position: relative;
    margin-bottom: 20px;
}

.nav__link {

    display: flex;
    align-items: center;
    color: #4b73b5;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav__link:before {
    content: "";
    display: inline-block;
    background-position: center center;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 15px;

}

.nav__link-main {
    background-image: url(img/главная.png);
    background-repeat: no-repeat;

}

.nav__link-rv {
    background-image: url(img/отзывы.png);
    background-repeat: no-repeat;

}

.nav__link-people {
    background-image: url(img/экипаж.png);
    background-repeat: no-repeat;

}

.site {
    font-size: 15px;
}

.social__icon {
    display: inline-block;
    width: 20px;
    height: 20px;

}


.rates__icons {
    display: inline-block;
    background: #4b73b5;
    width: 67px;
    height: 67px;
    border-radius: 50%;
    position: relative;

}

.rates__icons:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 33px;

}

.rates__icons-one:before {
    background: url(img/flower1.png) center center no-repeat
}

.rates__icons-two:before {
    background: url(img/mark-as-favorite-star1.png) center center no-repeat
}

.rates__icons-three:before {
    background: url(img/painter-palette.png) center center no-repeat
}


.air__pagination {
    display: flex;
    text-align: center;
    justify-content: center;

}

.air__pagination-item {
    display: inline-flex;

}







.footer {
    background: #4b73b5
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__name {
    margin: 0;
    font-size: 15px;
}

.footer__name-author {
    margin: 0;

}








.social__link {
    display: inline-block;
    background: #d3def4;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
}

.social__link:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
}

.social__link-vk:before {
    background: url(img/vk.png) center center no-repeat;
}

.social__link-fb:before {
    background: url(img/fb.png) center center no-repeat;
}

.social__link-gp:before {
    background: url(img/google.png) center center no-repeat;
}

.social__link-tw:before {
    background: url(img/twitter.png) center center no-repeat;
}

.social__link-ml:before {
    background: url(img/mail1.png) center center no-repeat;
}




.main {
    display: flex;
    flex: 1;

}

.desc__command {
    display: flex;
    flex-direction: row;
    flex: 1;

}

.nav__list {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.reviews__title {
    margin-bottom: 30px;
}

.title {
    font-size: 49px;
    color: #000;
    font-weight: bold;
    margin-bottom: 17px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.list-view {
    display: flex;
    border-bottom: 2px #f5f5f5 solid;
    padding-bottom: 21px;
    margin-bottom: 30px;
}

.list-view__picture {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}


.list-view__picture-img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.list-view__desc {
    width: 75%;
    margin-left: 22px;
}

.list-view__date {
    font-weight: 300;
    font-size: 14px;
    color: #656464;
    margin-bottom: 12px;
}

.list-view__name {
    font-weight: bold;
    font-size: 18px;
    color: #221f1f;
    margin-bottom: 20px;
}

.list-view__text {
    font-weight: 300;
    font-size: 18px;
    color: #221f1f;
    line-height: 1.5;
}

.list-view__desc {
    width: 75%;
    margin-left: 22px;
}


.booking {
    background: url(img/Rectangle-11.png) no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking__info {
    max-width: 630px;
    margin: 51px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.667;
}

.booking__application {
    font-weight: bold;
    text-decoration: underline;
}

.booking__phone {
    font-weight: bold;
}


.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 54px 0;
}

.form {
    display: block;
    margin-top: 0;
}

.form__wrap {
    background-color: #f5f5f5;
    padding: 50px 70px;
}

.title {
    font-size: 49px;
    color: #000;
    font-weight: bold;
    margin-bottom: 17px;
}

.form__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form__label:first-child {
    margin-left: 0;
}

.form__label {
    flex: 1;
    margin-left: 20px;
}

.form__label-text {
    font-size: 14px;
    font-weight: 300;
    color: #221f1f;
    display: block;
    margin-bottom: 10px;
}

.form__textarea {
    line-height: 1.42px;
    padding: 10px;
}

.textarea {
    resize: none;
    height: 90px;
}

.textarea {
    overflow: auto;
}

.form__input,
.form__textarea {
    line-height: 54px;
    font-size: 14px;
    font-weight: 300;
    color: #221f1f;
    padding: 0 8px;
    border-radius: 4px;
    min-width: 270px;
    box-sizing: border-box;
}

input,
textarea {
    width: 100%;
    border: none;
    outline: none;
}

button,
input {
    overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.form__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.radio-button__title {
    font-size: 14px;
    color: #221f1f;
    font-weight: 300;
    margin-bottom: 15px;
}


.radio-button__controls,
.radio-button__label {
    display: flex;
}

.radio-button__label:first-child {
    margin-left: 0;
}


.radio-button__label {
    position: relative;
    margin-left: 20px;
}

.radio-button__radio {
    position: absolute;
    top: 0;
    left: -9999px;
}


[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

.radio-button__radio:checked+.radio-button__radio-fake {
    border: 1px solid #4b73b5;
}

.radio-button__radio: checked+.radio-button__radio-fake+.radio-button__label-text {
    color: #4b73b5;
}

.radio-button__radio:checked+.radio-button__radio-fake::before {
    height: 8px;
    width: 8px;
}

.radio-button__label {
    position: relative;
    margin-left: 20px;
}

.radio-button__radio-fake {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #c9c9c9;
}

.radio-button__label-text {
    color: #221f1f;
    font-weight: 300;
    margin-left: 8px;
}

.radio-button__radio-fake::before {
    content: '';
    display: flex;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #4b73b5;
    transition: .5s;
}


.send-button {
    text-transform: uppercase;
    letter-spacing: 2.4px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 54px;
    padding: 0 21px;
    border-radius: 4px;
    transition: .3s;
    display: flex;
    align-items: center;
}

.send-button_bg {
    background-color: #4b73b5;
}

.send-button:after,
.send-button:hover:after {
    content: '';
    display: flex;
    align-items: center;
    width: 19px;
    height: 19px;
    margin-left: 10px;
}

.send-button_arrow:after {
    background: url(img/главная.png) no-repeat;

}


.send-button_bg:hover {
    background-color: #fff;
}

.send-button:hover {
    color: #1c5bc4;
}

.button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__info {
    color: #656464;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.pagination__controls {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.pagination__link_active {
    opacity: .3;
}

.pagination__link_prev {
    background-image: url(../images/pagination-arrow-left.png);
}

.pagination__link {
    color: #221f1f;
    font-weight: bold;
    font-size: 14px;
    padding: 7px 10px;
    background-repeat: no-repeat;
    background-position: center center;
}


.pagination__item_active .pagination__link {
    color: #ffffff;
    background-color: #4b73b5;
    border-radius: 4px;
    cursor: default;
}

.pagination__link {
    color: #221f1f;
    font-weight: bold;
    font-size: 14px;
    padding: 7px 10px;
    background-repeat: no-repeat;
    background-position: center center;
}

.pagination__list {
    display: flex;
    margin: 0 5px;
}

.pagination__item {
    display: flex;
}

.pagination__item_active .pagination__link {
    color: #ffffff;
    background-color: #4b73b5;
    border-radius: 4px;
    cursor: default;
}

.pagination__link {
    color: #221f1f;
    font-weight: bold;
    font-size: 14px;
    padding: 7px 10px;
    background-repeat: no-repeat;
    background-position: center center;
}