.header {
    width: 100%;
    height: 77px;
    background: #4b73b5;
}

div {
    border: 1px solid grey;
}

.lodo__header {
    margin-bottom: 20px;
    margin-left: 21px;

    
}

a {
    color: red;
}